@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --line-border-empty: #edede9;
    --line-border-fill: #003049;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: #bde0fe;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

.container {
    text-align: center;

}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 1000px;
    max-width: 100%;
    font-size: 25px;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    height: 10px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.progress {
    background-color: var(--line-border-fill);
    height: 10px;
    width: 0%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: blanchedalmond;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
    border-color: var(--line-border-fill); 
}

.btn{
    background-color: var(--line-border-fill);
    color: #f4a261;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-family: Bebas Neue;
    padding: 15px 40px;
    font-size: 25px;
    margin: 5px;
}

.btn:active{
    transform: scale(0.98);
}

.btn.focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
}